[submodule "Atividades/2024-09-03/contador_simples/flutter_simple-counter"]
	path = Atividades/2024-09-03/contador_simples/flutter_simple-counter
	url = https://github.com/vilaJJ/flutter_simple-counter.git
